.reportList {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin: 20px 10px;
    padding: 0;
    border: 1px gray solid;
    font-family: Tahoma;
}

.reportsPagerRoot {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pageLabel,
.pageSizeLabel {
    margin-right: 5px;
}

.pageSizeLabel {
    margin-left: 15px;
}

.reportRow {
    display: flex;
    flex-direction: row;
    padding: 0;
    border-top: 1px gray solid;
    margin-top: -1px;
}


.reportTitle,
.reportDescription,
.reportFile {
    padding: 2px;
    border-left: 1px gray solid;
    margin-left: -1px;
}


.reportTitle {
    width: 200px;
}

.reportDescription {
    width: 100%;
}

.reportFile {
    width: 400px;
}

.addReporRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.addReportButton {
    text-transform: uppercase;
    color: white;
    background-color: #164781;
    cursor: pointer;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 6px;
    clip-path: polygon(3% 0, CALC(100% + 3px) 0, 97% 100%, -3px 100%);
}

.addReportButton:focus {outline:0;}
.addReportButton:hover {
    background-color: #5994BD;
}
